{
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "interface",
        "(?=content|api)",
        "contexts/",
        "helpers/",
        "store/",
        "mock/",
        "config",
        "utils/",
        "hooks/",
        "(components/|./index)",
        ".svg",
        "^../(.*)$",
        "(?=./styles.module.scss)"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true
}
