{
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "^react(.*)",
        "^react-redux(.*)",
        "react-router-dom",
        "^@reduxjs(.*)",
        "<THIRD_PARTY_MODULES>",
        "assets",
        "styles",
        "services",
        "store",
        "contexts",
        "routes",
        "hooks",
        "utils",
        "types",
        "pages",
        "layouts",
        "components",
        "^[./]"
    ],
    "importOrderSortSpecifiers": true,
    "trailingComma": "es5",
    "tabWidth": 2,
    "semi": false,
    "singleQuote": true
}
