.editableUser {
  margin-top: 1rem;

  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 500px;

    .formControl {
      width: 100%;

      & > label {
        display: block;
        margin-bottom: 0.5rem;
      }

      & > input {
        all: unset;
        box-sizing: border-box;
        border: 1px solid var(--primary-color);
        border-radius: 0.25rem;
        padding: 0.25rem 0.5rem;
        width: 100%;
      }
    }

    & > button {
      all: unset;
      text-align: center;
      margin-top: 1rem;
      border: 1px solid var(--primary-color);
      border-radius: 0.25rem;
      padding: 0.25rem;
      cursor: pointer;
    }
  }
}
